
<table class="responsive-table" id = "userTable">
        <thead>
          <tr>
              <th>Категория</th>
              <th>Описание</th>
              <th>Остаток</th>
              <th>Цена</th>
               <th id="addcontainer"><button class="waves-effect waves-light btn-large" id = "addbutton" width="50px" style="margin-left: -100px;">Добавить</button></th>
          </tr>
        </thead>
        <tbody>
          <div data-did="">
            <tr data-id="">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        {{#each products}}
          <div data-did="{{this.id}}">
            <tr data-id="{{this.id}}">
            <td>{{this.categories_id}}</td>
            <td>{{this.description}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.price}}</td>
            <td><a id="adminEdit">Редактировать</a></td>
            <td><a id="adminEdit">Удалить</a></td>
          </tr>
          </div>
          {{/each}}
        </tbody>
  
 </table>
<script defer src = "/js/admin/products.js"></script>
