<table class="simple-little-table">
        <thead class="tableTr">
          <tr>
              <th class="th">Name</th>
              <th class="th">Phone</th>
              <th class="th">Email</th>
          </tr>
        </thead>
        <tbody>
        {{#each client}}
          <tr>
            <td class="td"><a href="/clients/{{this.id}}">{{this.name}}</a></td>
            <td class="td">{{this.phone}}</td>
            <td class="td">{{this.email}}</td>
          </tr>
          {{/each}}
        </tbody>
  
 </table>

{{!-- 
        <thead class="tableTr">
          <li>
              <ul class="ul">Name</ul>
              <ul class="ul">Phone</ul>
              <ul class="ul">Email</ul>
          </li>
        </thead>
        <tbody>
        {{#each client}}
          <li>
            <ul class="th"><a href="/clients/{{this.id}}">{{this.name}}</a></ul>
            <ul class="th">{{this.phone}}</ul>
            <ul class="th">{{this.email}}</ul>
          </li>
          {{/each}}
        </tbody>
   --}}
