<div class="helloUser">
  <div class="npAll">
    {{#if name}}
    <div class="namePhoto row">
      <div class="helloUser-hello s6">
      <h1>Добро пожаловать,<br>{{name}}!</h1>
    </div>
    <div>
    <img src="{{img}}" class="photoUser">
    </div>
    </div>
    {{#if auth}}
    {{else}}
    <div class="alert col s12">
      <h5><strong>Внимание!</strong> Вы зарегистрированы в системе, ожидайте подтверждения регистрации
        администратором.</h5>
    </div>
    {{/if}}
  </div>

  {{else}}
  <div class="alert col s12">
    <h5><strong>Внимание!</strong> Для работы в системе необходимо пройти <a href="/user/signIn">авторизацию в
        Google</a> </h5>
  </div>
  {{/if}}
</div>

{{#if name}}
{{#if auth}}
<div class="heading">
  <h1 class="heading__title">Статистика</h1>
  <p class="heading__credits"><a class="heading__link" target="_blank" href="#">по заказам</a>
  </p>
</div>
<div class="cards">
  {{#each allStatus}}

  <div class="card card-3">
    <h3 class="card__title">{{this.status}}</h3>
    <br>
    <h1 class="card__title">{{thisOrderSt}}</h1>
    <p class="card__apply">
      <a class="card__link" href="#">Подробнее<i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
  {{/each}}
</div>
{{/if}}
{{/if }}
