{{!-- {{#if user}} --}}
<div class="helloUser">
  <div class="helloUser-hello">
    {{#if name}}
    <h1>Добро пожаловать,<br>{{name}}!</h1>
    <h5>{{#if auth}}
{{else}} <div>Вы зарегистрированы в системе, ожидайте подтверждения регистрации администратором</div>
{{/if}}</h5>

{{else}}
<h5>Для работы в системе необходимо пройти <a href="/user/signIn">авторизацию в Google</a> </h5>
{{/if}}

{{#if name}}
  </div>
  <div class="helloUser-photo">
    <h1><img src="{{img}}"></h1>
  </div>
</div>
{{#if auth}}
<div class="heading">
  <h1 class="heading__title">Статистика</h1>
  <p class="heading__credits"><a class="heading__link" target="_blank" href="#">по заказам</a>
  </p>
</div>
<div class="cards">
  {{#each allStatus}}

  <div class="card card-3">
    <h3 class="card__title">{{this.status}}</h3>
    <br>
    <h1 class="card__title">1000</h1>
    <p class="card__apply">
      <a class="card__link" href="#">Подробнее<i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
  {{/each}}
</div>
{{/if}}
{{/if }}
{{!-- {{else}} <a href="/user/signIn">Войти</a> --}}
{{!-- {{/if}} --}}
