<script defer src="/js/order.js"></script>

<div class="addOrder">
  <form name="addOrder" action="/orders/new" method="POST">
    <input name="user_id" type="hidden" value="{{user}}">

    <div class="input-field col s6">
      <input placeholder="Text" id="Text" type="text" class="validate" name="client_id">
      <label for="Text">client_id</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="Text" id="Text" type="text" class="validate" name="deliveryPrice">
      <label for="Text">deliveryPrice</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="Text" id="Text" type="text" class="validate" name="assemblyPrice">
      <label for="Text">assemblyPrice</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="Text" id="Text" type="text" class="validate" name="dataDelivery">
      <label for="Text">dataDelivery</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="Text" id="Text" type="text" class="validate" name="dataAssembly">
      <label for="Text">dataAssembly</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="Text" id="Text" type="text" class="validate" name="brigadeDelivery">
      <label for="Text">brigadeDelivery</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="Text" id="Text" type="text" class="validate" name="brigadeAssembly">
      <label for="Text">brigadeAssembly</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="Text" id="Text" type="text" class="validate" name="status_id">
      <label for="Text">status_id</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Submit
    </button>
  </form>
</div>

<table class="simple-little-table">
  <thead>
    <tr>
      <th class="th">№ заказа</th>
      <th class="th">Клиент</th>
      <th class="th">Менеджер</th>
      <th class="th">Статус заказа</th>
      <th>You can</th>

    </tr>
  </thead>
  <tbody>
    <div data-postWrapper>
      {{#each order}}
      <tr data-id="{{this.id}}">
        <td class="td">{{this.id}}</td>
        <td class="td"> {{this.User.firstName}} {{this.User.lastName}} {{this.User.email}}</td>
        <td class="td"> {{this.Client.name}} </td>
        <td class="td">{{this.OrderStatus.status}}</td>
        <td class="td"> 
          <a href="/orders/{{this.id}}" class="obl">Открыть</a>
          <a href="/orders/{{this.id}}/del" class="obl">Delite</a>
          <a href="/orders/{{this.id}}/up" class="obl">Update</a>
        </td>
      </tr>
      {{/each}}
    </div>

  </tbody>
 </table> 
  {{!-- <table class="simple-little-table">
    <thead>
      <tr>
        <th class="th">№ заказа</th>
        <th class="th">Клиент</th>
        <th class="th">Менеджер</th>
        <th class="th">Статус заказа</th>
        <th></th>


      </tr>
    </thead>
    <tbody>
      {{#each order}}

      <td class="td">{{this.id}} </td>
      <td class="td"> {{this.Client.name}} </td>
      <td class="td"> {{this.User.firstName}} {{this.User.lastName}} <br> {{this.User.email}}</td>
      <td class="td">{{this.OrderStatus.status}}</td>
      <td class="td"><a href="/orders/{{this.id}}" class="obl">Открыть</a></td>
    </tbody>

  </table> --}}
