<h1>Klient</h1>
{{#each thisclient}}
<h2>Имя: {{this.name}}</h2>
<div>Фамилия: {{this.lastName}}</div>
<div>Отчество: {{this.fatherland}}</div>
<div>Адрес: {{this.address}}</div>
<div>Телефон: {{this.phone}}</div>
<div>Почта: {{this.email}}</div>
<div>Создал: {{this.User.firstName}} {{this.User.lastName}} Почта:{{this.User.email}}</div>
{{/each}}


<h1>Комментарии к заказу</h1>
<table class="responsive-table">
        <thead>
          <tr>
              <th>Инициалы комментирующего</th>
              <th>Почта комментирующего</th>
              <th>Текст</th>
              <th>Дата</th>
          </tr>
        </thead>
        <tbody>
        {{#each allComment }}
          <tr>
            <td>{{this.User.firstName}} {{this.User.lastName}}</td>
            <td>{{this.User.email}}</td>
            <td>{{this.comment}}</td>
            <td>{{this.date}}</td>
          </tr>
          {{/each}}
        </tbody>
  
 </table>
