<script defer src="/js/commentOrder.js"></script>

<h1>Заказ</h1>
{{#each thisOrder}}
<h2>Клиент:  {{this.Client.name}} {{this.Client.lastName}} Почта:{{this.Client.email}}</h2>
<div>Цена доставки: {{this.deliveryPrice}}</div>
<div>Цена сборки: {{this.assemblyPrice}}</div>
<div>Дата доставки: {{this.dataDelivery}}</div>
<div>Дата сборки: {{this.dataAssembly}}</div>
<div>Бригада доставки: {{this.brigadeDelivery}}</div>
<div>Бригада сборки: {{this.brigadeAssembly}}</div>
<div>Статус: {{this.status_id}}</div>
<div>Создал: {{this.User.firstName}} {{this.User.lastName}} Почта:{{this.User.email}}</div>
{{/each}}

<div class="addComment">
  <form name="addComment" data-id="{{id}}" action="/clients" method="POST">
    <div class="input-field col s4">
      <input placeholder="Title" id="title" type="text" class="validate" name="comment">
      <label for="title">Твой комментарий</label>
    </div>
      <input  name="user_id" type="hidden" value="{{user}}" > 
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Submit
    </button>
  </form>
</div>


<h1>Комментарии к заказу</h1>
<table class="responsive-table">
        <thead>
          <tr>
              <th>Инициалы комментирующего</th>
              <th>Почта комментирующего</th>
              <th>Текст</th>
              <th>Дата</th>
              <th>You can</th>
          </tr>
        </thead>
        <tbody>
        {{#each allOrderComment }}
          <tr>
            <td>{{this.User.firstName}} {{this.User.lastName}}</td>
            <td>{{this.User.email}}</td>
            <td>{{this.comment}}</td>
            <td>{{this.date}}</td>
            <td> <a href="/clients/{{this.id}}/del">Delite</a>
            <a href="/clients/{{this.id}}/up">Update</a></td>
          </tr>
          {{/each}}
        </tbody>
  
 </table>
